<div class="container">
<p>The deatils of the bills are</p>
<br/>
    {{User}}
  
    <p>The Checkout Date and Time : {{Billdate}}</p>
    <p>cashier name:{{authorizedname}}</p>
<table style="border:1px solid green">
    <tr>
        <th>ProductName</th>
        <th>Price/Item</th>
        <th>Quantity</th>
        <th>TotalPrice</th>
    </tr>
    <tr >
        <td>{{final.product1.name}}</td>
              <td>{{final.product1.unitprice}}</td>
               <td>{{final.product1.unitprice}}</td>  
         <td>bill.name</td>
        
    </tr>
    
</table>
</div>